<launch>
  <!-- Node namespace -->
  <arg name="ns" default="interop" doc="namespace for all nodes"/>

  <!-- Offline mode -->
  <arg name="offline" default="false" doc="run in offline mode"/>
  <arg name="base_path" default="$(optenv INTEROP_PATH)"
    doc="path to offline mission information" if="$(arg offline)"/>
  <arg name="no_moving_obstacles" default="false"
    doc="whether to publish moving obstacles or not" if="$(arg offline)"/>

  <!-- Online mode -->
  <arg name="base_url" default="$(optenv INTEROP_HOST)"
    doc="base URL of the interop server (e.g. http://localhost:8080)"
    unless="$(arg offline)"/>
  <arg name="timeout" default="1.0" doc="timeout of each request in seconds"
    unless="$(arg offline)"/>
  <arg name="verify" default="true" doc="validate SSL certificates"
    unless="$(arg offline)"/>

  <!-- Targets directory settings -->
  <arg name="objects_root"
    default="$(optenv INTEROP_OBJECTS_ROOT ~/object_files/)"
    doc="path to save object files in"/>
  <arg name="interop_update_period" default="10.0"
    doc="period to update objects with the server in seconds"/>

  <!-- Synchronization settings -->
  <arg name="sync_queue_size" default="12"
    doc="message synchronization queue size"/>
  <arg name="max_sync_delay" default="1"
    doc="maximum message synchronization delay in seconds"/>

  <!-- Subscribed topics -->
  <arg name="navsat_topic" default="/mavros/global_position/global"
    doc="topic for vehicle's GPS position to use for telemetry"/>
  <arg name="altitude_topic" default="/mavros/altitude"
    doc="topic for vehicle's altitude in meters"/>
  <arg name="pose_topic" default="/mavros/local_position/pose"
    doc="topic for vehicle's pose in ENU coordinates"/>

  <!-- Published topics -->
  <arg name="stationary_topic" default="~stationary"
    doc="topic for publishing stationary obstacles"/>
  <arg name="flyzones_topic" default="~flyzones"
    doc="topic for publishing flyzones"/>
  <arg name="search_grid_topic" default="~search_grid"
    doc="topic for publishing search grid"/>
  <arg name="waypoints_topic" default="~waypoints"
    doc="topic for publishing waypoints"/>
  <arg name="air_drop_topic" default="~air_drop"
    doc="topic for publishing air drop position"/>
  <arg name="emergent_obj_topic" default="~emergent_obj"
    doc="topic for publishing emergent object position"/>
  <arg name="off_axis_obj_topic" default="~off_axis_obj"
    doc="topic for publishing off axis object position"/>
  <arg name="home_topic" default="~home"
    doc="topic for publishing home position"/>

  <!-- Publication periods -->
  <arg name="obstacles_period" default="0.05"
    doc="period to fetch obstacles in seconds"/>
  <arg name="mission_info_period" default="0.05"
    doc="period to publish mission information in seconds"/>

  <!-- Frame IDs -->
  <arg name="obstacles_frame" default="earth" doc="obstalces frame ID"/>
  <arg name="missions_frame" default="earth"
    doc="mission information frame ID"/>

  <!-- Mission ID -->
  <arg name="mission_id" default="-1" doc="mission ID (-1 means active)"/>

  <group ns="$(arg ns)">
    <!-- Obstacles client -->
    <node name="obstacles"
          pkg="interop"
          type="obstacles_client.py"
          output="screen"
          respawn="true">
      <!-- Connection parameters -->
      <param name="offline" value="$(arg offline)" type="bool"/>
      <param name="base_path" value="$(arg base_path)" type="str"
        if="$(arg offline)"/>
      <param name="base_url" value="$(arg base_url)" type="str"
        unless="$(arg offline)"/>
      <param name="timeout" value="$(arg timeout)" type="double"
        unless="$(arg offline)"/>
      <param name="verify" value="$(arg verify)" type="bool"
        unless="$(arg offline)"/>
      <param name="no_moving_obstacles" value="$(arg no_moving_obstacles)"
        type="bool" if="$(arg offline)"/>

      <!-- Published topics -->
      <param name="stationary_topic" value="$(arg stationary_topic)"/>

      <!-- Publication period -->
      <param name="period" value="$(arg obstacles_period)"/>

      <!-- Frame ID -->
      <param name="frame" value="$(arg obstacles_frame)"/>
    </node>

    <!-- Mission Information Client -->
    <node name="mission_info"
          pkg="interop"
          type="missions_client.py"
          output="screen"
          respawn="true">
      <!-- Connection parameters -->
      <param name="offline" value="$(arg offline)" type="bool"/>
      <param name="base_path" value="$(arg base_path)" type="str"
        if="$(arg offline)"/>
      <param name="base_url" value="$(arg base_url)" type="str"
        unless="$(arg offline)"/>
      <param name="timeout" value="$(arg timeout)" type="double"
        unless="$(arg offline)"/>
      <param name="verify" value="$(arg verify)" type="bool"
        unless="$(arg offline)"/>

      <!-- Published topics -->
      <param name="flyzones_topic" value="$(arg flyzones_topic)"/>
      <param name="search_grid_topic" value="$(arg search_grid_topic)"/>
      <param name="waypoints_topic" value="$(arg waypoints_topic)"/>
      <param name="air_drop_topic" value="$(arg air_drop_topic)"/>
      <param name="emergent_obj_topic" value="$(arg emergent_obj_topic)"/>
      <param name="off_axis_obj_topic" value="$(arg off_axis_obj_topic)"/>
      <param name="home_topic" value="$(arg home_topic)"/>

      <!-- Publication period -->
      <param name="period" value="$(arg mission_info_period)"/>

      <!-- Frame ID -->
      <param name="frame" value="$(arg missions_frame)"/>

      <!-- Mission ID -->
      <param name="id" value="$(arg mission_id)"/>
    </node>

    <!-- Telemetry client -->
    <node name="telemetry"
          pkg="interop"
          type="telemetry_client.py"
          output="screen"
          respawn="true">
      <!-- Connection parameters -->
      <param name="offline" value="$(arg offline)" type="bool"/>
      <param name="base_path" value="$(arg base_path)" type="str"
        if="$(arg offline)"/>
      <param name="base_url" value="$(arg base_url)" type="str"
        unless="$(arg offline)"/>
      <param name="timeout" value="$(arg timeout)" type="double"
        unless="$(arg offline)"/>
      <param name="verify" value="$(arg verify)" type="bool"
        unless="$(arg offline)"/>

      <!-- Synchronization settings -->
      <param name="sync_queue_size" value="$(arg sync_queue_size)"/>
      <param name="max_sync_delay" value="$(arg max_sync_delay)"/>

      <!-- Subscribed topics -->
      <param name="navsat_topic" value="$(arg navsat_topic)"/>
      <param name="altitude_topic" value="$(arg altitude_topic)"/>
      <param name="pose_topic" value="$(arg pose_topic)"/>
    </node>

    <!-- Target client -->
    <node name="objects"
          pkg="interop"
          type="objects_server.py"
          output="screen"
          respawn="true">
      <!-- Connection parameters -->
      <param name="offline" value="$(arg offline)" type="bool"/>
      <param name="base_path" value="$(arg base_path)" type="str"
        if="$(arg offline)"/>
      <param name="base_url" value="$(arg base_url)" type="str"
        unless="$(arg offline)"/>
      <param name="timeout" value="$(arg timeout)" type="double"
        unless="$(arg offline)"/>
      <param name="verify" value="$(arg verify)" type="bool"
        unless="$(arg offline)"/>

      <!-- Targets directory settings -->
      <param name="objects_root" value="$(arg objects_root)"/>
      <param name="interop_update_period" value="$(arg interop_update_period)"/>
    </node>
  </group>
</launch>
